In [ ]:
### 1. Casting Data Types
Kita bisa mengubah tipe data dari satu bentuk ke bentuk lain:
- `str → int`
- `int → str`
- `int → bool`

In [3]:
# str → int
angka_str = "123"
angka_int = int(angka_str)
print(angka_int, type(angka_int))

# int → str
angka = 456
angka_str2 = str(angka)
print(angka_str2, type(angka_str2))

# int → bool
angka2 = 0
angka_bool = bool(angka2)
print(angka_bool, type(angka_bool))

123 <class 'int'>
456 <class 'str'>
False <class 'bool'>

In [ ]:
### 2. Comparison Operators
Operator perbandingan digunakan untuk membandingkan 2 nilai.

In [4]:
print(5 == 5)   # True
print(5 != 3)   # True
print(10 > 7)   # True
print(4 < 2)    # False
print(6 <= 6)   # True
print(8 >= 10)  # False

True
True
True
False
True
False

In [ ]:
### 3. Logical Operators
Operator logika (`and`, `or`, `not`) digunakan untuk menggabungkan ekspresi boolean.

In [5]:
print(True and False)  # False
print(True or False)   # True
print(not True)        # False

print(5 > 6 and 6 < 7) # False

False
True
False
False

In [ ]:
### 4. Arithmetic Operators
Operator aritmatika digunakan untuk perhitungan matematika dasar.

In [6]:
a, b = 10, 3

print(a + b)   # penjumlahan
print(a - b)   # pengurangan
print(a * b)   # perkalian
print(a / b)   # pembagian
print(a % b)   # modulus
print(a ** b)  # pangkat

13
7
30
3.3333333333333335
1
1000

In [ ]:
### 5. Input & Output
Mengambil input dari pengguna dan menampilkannya dengan beberapa cara.

In [7]:
nama = input("Masukkan nama: ")
umur = int(input("Masukkan umur: "))

print("Halo", nama, "umur kamu", umur)                 # cara 1
print(f"Halo {nama}, umur kamu {umur}")                # cara 2 (f-string)
print("Halo {}, umur kamu {}".format(nama, umur))      # cara 3 (format)

Masukkan nama: Fadi
Masukkan umur: 17
Halo Fadi umur kamu 17
Halo Fadi, umur kamu 17
Halo Fadi, umur kamu 17

In [ ]:
### 6. Conditionals & Exception Handling
- If-Else: untuk menentukan hasil berdasarkan nilai GPA.
- Match-Case: untuk mencocokkan status code (Python 3.10+).

In [9]:
# if-else GPA
gpa = float(input("Masukkan nilai GPA: "))

if gpa >= 3.5:
    print("Cumlaude")
elif gpa >= 3.0:
    print("Sangat Memuaskan")
else:
    print("Perlu usaha lebih")

# match-case
status_code = int(input("Masukkan status code: "))

match status_code:
    case 200:
        print("OK")
    case 404:
        print("Not Found")
    case 500:
        print("Server Error")
    case _:
        print("Kode tidak dikenal")

Masukkan nilai GPA: 3
Sangat Memuaskan
Masukkan status code: 200
OK

In [ ]:
### 7. Ternary Operator
Digunakan untuk membuat if-else dalam satu baris.

In [10]:
angka = int(input("Masukkan angka: "))
hasil = "Genap" if angka % 2 == 0 else "Ganjil"
print(hasil)

Masukkan angka: 10
Genap

In [ ]:
### 8. Loops
Perulangan menggunakan for dan while.

In [11]:
# for loop range
for i in range(5):
    print(i)

# for loop dengan step
for i in range(0, 10, 2):
    print(i)

# loop string
for huruf in "Python":
    print(huruf)

# loop dengan enumerate
for idx, huruf in enumerate("Hello"):
    print(idx, huruf)

# loop backwards
for i in range(5, 0, -1):
    print(i)

# continue dan break
for i in range(10):
    if i == 3:
        continue
    if i == 7:
        break
    print(i)

# while loop
x = 5
while x > 0:
    print("Countdown:", x)
    x -= 1

0
1
2
3
4
0
2
4
6
8
P
y
t
h
o
n
0 H
1 e
2 l
3 l
4 o
5
4
3
2
1
0
1
2
4
5
6
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1