In [12]:
# cast from str to int
str_numbers = "456"
str_numbers_to_int = int(str_numbers)
print("Before casting :", str_numbers, ", the data type is",
type(str_numbers))
print("After casting :", str_numbers_to_int, ", the data type is",
type(str_numbers_to_int))

Before casting : 456 , the data type is <class 'str'>
After casting : 456 , the data type is <class 'int'>

In [13]:
# casting from int to str
integer = 12345
integer_to_str = str(integer)
print("Before casting :", integer, ", the data type is", type(integer))
print("After casting :", integer_to_str, ", the data type is",
type(integer_to_str))

Before casting : 12345 , the data type is <class 'int'>
After casting : 12345 , the data type is <class 'str'>

In [14]:
# casting from int to bool
num_int = 1
num_bool = bool(num_int)
print(num_bool, type(num_bool))
num_int = 0

num_bool = bool(num_int)
print(num_bool, type(num_bool))

True <class 'bool'>
False <class 'bool'>

In [15]:
# Equal to
8 == 8
# Not equal to
8 != 9
# Greater than
8 > 9
# Less than
8 < 9
# Less than
8 <= 9
# Less than
9 >= 9

True

In [16]:
a = True
b = True
print(a and b)
print(a or b)
print(not b)
#logic
5 > 6 and 6 < 7

True
True
False

False

In [17]:
e = 8
f = 2
# Summation
sum = e + f
print(f"The sum of e with f is : {sum}\n")
# Reduction
red = e - f
print(f"The reduction of e with f is : {red}\n")
# Multiplication
multi = e * f
print(f"The multipication of e with f is : {multi}\n")
# Division
divi = e / f
print(f"The quotient of e with f is : {divi}\n")
# Modulo
mod = e % f
print(f"The remainder of e with f is : {mod}\n")
# Power
pow = e ** f
print(f"The power of e of f is : {pow}\n")

The sum of e with f is : 10

The reduction of e with f is : 6

The multipication of e with f is : 16

The quotient of e with f is : 4.0

The remainder of e with f is : 0

The power of e of f is : 64

In [18]:
name = str(input("What is your name : "))
age = int(input("What's your age : "))
print("Name: ", name)
print("Age: ", age)

What is your name : fadi
What's your age : 20
Name:  fadi
Age:  20

In [20]:
# normal print
print('Hi all! I am', name, 'age', age, 'years old')
# format print
print(f'Hi all! I am {name} age {age} years old')
# format print
print(f'Hi all! I am %s age %d years old'%(name, age))
# fortmat output
print(30*"=")
print("Temperature Calculator Program")
print(30*"=")

Hi all! I am fadi age 20 years old
Hi all! I am fadi age 20 years old
Hi all! I am fadi age 20 years old
==============================
Temperature Calculator Program
==============================

In [24]:
try:
  your_GPA = float(input("Enter your GPA: "))
  if 4.0 >= your_GPA >= 0.0:
    if 4.0 >= your_GPA >= 3.80:
      print(f"Damn you've got a magna cumlaude with your {your_GPA} GPA")
    elif 3.50 <= your_GPA < 3.80:
      print(f"Cool!! You've got a cumlaude with your {your_GPA} GPA")
    elif 3.00 <= your_GPA < 3.50:
      print(f"You've got a stable GPA tho")
    elif your_GPA < 3.0:
      print(f"You need a stable GPA")
  else:
    print(f"Sorry, your GPA {your_GPA} is out of range and invalid")
except:
  print("Please enter a valid GPA")

Enter your GPA: 3.5
Cool!! You've got a cumlaude with your 3.5 GPA

In [23]:
a = 3
b = "Even Numbers" if a % 2 == 0 else "Odd Numbers"
print(b)

Odd Numbers

In [26]:
for i in range(5):
  print(i)
# For loop with range
for i in range(5):
  print("Data science is easy!")
print(50*"=")
for i in range(1, 5, 2):
  print("Data science is easy!")

0
1
2
3
4
Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
==================================================
Data science is easy!
Data science is easy!

In [28]:
word = "I want to master data science"
for letter in word:
  print(letter)

I

w
a
n
t

t
o

m
a
s
t
e
r

d
a
t
a

s
c
i
e
n
c
e

In [30]:
# You can use it with enumerate function
for m, n in enumerate(word):
  print(f"Index {m}. {n}")

Index 0. I
Index 1.
Index 2. w
Index 3. a
Index 4. n
Index 5. t
Index 6.
Index 7. t
Index 8. o
Index 9.
Index 10. m
Index 11. a
Index 12. s
Index 13. t
Index 14. e
Index 15. r
Index 16.
Index 17. d
Index 18. a
Index 19. t
Index 20. a
Index 21.
Index 22. s
Index 23. c
Index 24. i
Index 25. e
Index 26. n
Index 27. c
Index 28. e

In [32]:
# It can go backwards
for i in range(5,1,-1):
  print("I want big data's")

I want big data's
I want big data's
I want big data's
I want big data's

In [34]:
for i in range(5):
  if i == 2:
    continue # skip theis loop when i is equal to 2
  if i == 4:
    break # stops the loop when i is equal to 4
  print(i)

0
1
3

In [36]:
count = 0
while count < 4:
  print("Keep the spirits up interns!")
  count += 1

Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!